@import "tailwindcss";

@font-face {
  font-family: "Oswald-light";

  src: url("../assets/font/Oswald-Light.woff2") format("woff2");
}
@font-face {
  font-family: "Oswald-regular";
  src: url("../assets/font/Oswald-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "Oswald-medium";
  src: url("../assets/font/Oswald-Medium.woff2") format("woff2");
}
@font-face {
  font-family: "Oswald-bold";
  src: url("../assets/font/Oswald-Bold.woff2") format("woff2");
}

body {
  background-color: var(--color-white);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@custom-variant custom-tablet (@media (width: 1024px) and (height: 1366px));

@theme {
  --breakpoint-mobile-sm: 22rem; /* 352px */
  --breakpoint-mobile-sm-plus: 24.375rem; /* 390px */
  --breakpoint-mobile-md: 25.75rem; /* 412px */
  --breakpoint-mobile-lg: 26.875rem; /* 430px */
  --breakpoint-tablet-md: 51rem; /* 820px */
  --breakpoint-laptop: 90rem; /* 1440px */
  --breakpoint-screen-sm: 100.625rem; /* 1610px */
  --breakpoint-screen-md: 113.125rem; /* 1810px */
  --breakpoint-screen-lg: 120rem; /* 1920px */
  /*  md	48rem (768px)  @media (width >= 48rem) { ... }
    lg	64rem (1024px)	@media (width >= 64rem) { ... }
    xl	80rem (1280px)	@media (width >= 80rem) { ... }
    2xl	96rem (1536px)	@media (width >= 96rem) { ... } */

  --font-oswald-l: "Oswald-light", "sans-serif";
  --font-oswald-r: "Oswald-regular", "sans-serif";
  --font-oswald-m: "Oswald-medium", "sans-serif";
  --font-oswald-b: "Oswald-bold", "sans-serif";

  --color-black: #1e1e1e;
  --color-white: #d1d1d1;
  --color-green: #77dd99;

  --bg-black: var(--color-black);
  --bg-white: var(--color-white);
  --bg-green: var(--color-green);

  --text-black: var(--color-black);
  --text-white: var(--color-white);

  --text-tiny: 0.625rem;
}

@layer base {
  html,
  body {
    @apply overflow-x-hidden w-full;
  }
}

@layer components {
  .wrapper {
    position: relative;
    width: 100vw;
    height: 100vh;
    padding: 2rem;
    background-color: transparent;
  }
  .navbar-mask-blur {
    mask-image: linear-gradient(to bottom, var(--color-black) 65%, rgba(0, 0, 0, 0.1) 100%, transparent 100%);
    -webkit-mask-image: linear-gradient(to bottom, var(--color-black) 65%, rgba(0, 0, 0, 0.1) 100%, transparent 100%);
  }
  [data-tab-name="LET'S TALK"] {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 1.5rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    background-color: var(--color-black);
    color: var(--color-white);
  }
  .coordinates-after-content::after {
    content: attr(data-content);
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--color-black);
    font-size: var(--text-tiny);
    font-family: var(--font-oswald-l);
    color: var(--color-white);
    opacity: var(--after-opacity);
  }
  .footer-after-content::after {
    content: attr(data-content);
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--color-black);
    font-size: var(--text-tiny);
    font-family: var(--font-oswald-l);
    color: var(--color-white);
    opacity: var(--after-opacity);
  }
  .navbar-after-content::after {
    content: attr(data-content);
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--color-black);
    font-size: var(--text-tiny);
    font-family: var(--font-oswald-l);
    color: var(--color-white);
    opacity: var(--after-opacity);
  }
}

/* p-8 around sections 32px */

/* mt-10 40px  */
/* mt-8 32px */
/* mt-4 16px */

/* --text-tiny: 0.625rem; 10px */

/* --leading-small: 1.8rem; line-height */
/* --leading-tiny: 1rem; line-height */

/* Mobile */
/* 320 ok */
/* 360 ok */
/* 375 ok */
/* 390 ok */
/* 412 ok */

/* Tablet */
/* 768 ok */
/* 820 ok */
/* 1024 ok */
